<div class="space">
</div>
<div class="text-zoom">
  STAR WARS
</div>


<div class="text-slide">
  <p class="text"> Episode IV </p>
  <h1 class="title"> A NEW HOPE </h1>
  <p class="text">It is a period of civil war.</p>
  <p class="text">Rebel spaceships, striking</p>
  <p class="text">from a hidden base, have won</p>
  <p class="text">their first victory against</p>
  <p class="text">the evil Galactic Empire.</p>

  <p class="text">During the battle, Rebel</p>
  <p class="text">spies managed to steal secret</p>
  <p class="text">plans to the Empire's</p>
  <p class="text">ultimate weapon, the DEATH</p>
  <p class="text">STAR, an armored space</p>
  <p class="text">station with enough power to</p>
  <p class="text">destroy an entire planet.</p>

  <p class="text">Pursued by the Empire's</p>
  <p class="text">sinister agents, Princess</p>
  <p class="text">Leia races home aboard her</p>
  <p class="text">starship, custodian of the</P>
  <p class="text">stolen plans that can save</p>
  <p class="text">her people and restore</p>
  <p class="text">freedom to the galaxy.....</p>
</div>
<a href= '/loading' class="loading_icons"> Checkout my Loading Icons</a>
