<div class="first_project">
  <div class="box">
    <div class="loader">

    </div>
    <div class="stool">

    </div>
  </div>
</div>

<div class="third_project">
  <a href="." class="refresh"><p class=text_color>Replay</p></a>
  <div class="pong_board">
    <div class="middle_line">
    </div>
    <div class="black_abyss_right">
    </div>
    <div class="black_abyss_left">
    </div>
    <div class="home_player">
    </div>
    <div class="away_player">
    </div>
    <div class="away_player_2">
    </div>
    <div class="ball">
    </div>
    <div class="second_ball">
    </div>
    <div class="third_ball">
    </div>
    <div class="fourth_ball">
    </div>
    <div class="fifth_ball">
    </div>
    <div class="sixth_ball">
    </div>
    <div class="seventh_ball">
    </div>
    <div class="eigth_ball">
    </div>
    <div class="ninth_ball">
    </div>
    <div class="goal">GOAL!
    </div>
  </div>
</div>

<div class="second_project">
  <div class="linked_in_box">
  <div class="linked_in_logo">
  </div>
  <div class="load_box">
    <div class="linked_in">
    </div>
  </div>
</div>

<div class="custom_loading">
  <div class="first_dot"></div>
  <div class="second_dot"></div>
  <div class="third_dot"></div>
  <div class="fourth_dot"></div>
  <div class="fifth_dot"></div>
</div>

<div class="typing">
  <div class="letters">Hello my name is Richard</div>
</div>
