<div class="first_project">
  <div class="box">
    <div class="loader">

    </div>
    <div class="stool">

    </div>
  </div>
</div>

<div class="second_project">
  <div class="linked_in_box">
  <div class="linked_in_logo">
  </div>
  <div class="load_box">
    <div class="linked_in">
    </div>
  </div>
</div>
